# Turnstile Keys (Cloudflare Dashboard)
TURNSTILE_SITE_KEY=tu_site_key_publica
TURNSTILE_SECRET_KEY=tu_secret_key_privada

# Email Configuration
DESTINATION_EMAIL=tu@correo-donde-recibes.com
FROM_EMAIL=el-que-envia@tu-dominio.com