#:schema node_modules/wrangler/config-schema.json
name = "worker-mailform"
account_id = "changeme"
main = "src/index.ts"
compatibility_date = "2024-04-01"

[vars]
TURNSTILE_SITE_KEY = "changeme"
DESTINATION_EMAIL = "changeme"
FROM_EMAIL = "changeme"

[[rules]]
type = "Text"
globs = ["**/*.html"]
fallthrough = true

[[send_email]]
name = "SEB"